/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	position:relative;
	min-height:100%;
}
/* Navbar */
.navbar {
	margin-top:20px;
	margin-right:30px;
	float:right;
}
.navbar a {
	font-family:Arial;
	font-size:13px;
	padding:6px;
	color:#000;
	text-decoration: none;
}
.navbar a:hover {
	text-decoration: underline;
}
#grid {
	vertical-align:middle;
	margin-top:-5px;
	width:23px;
	height:auto;
}
#signin {
	background:#4A90F9;
	background: linear-gradient (#4A90F9,#4B8BE8);
	margin-left:5px;
	padding:5px 12px 7px 12px;
	color:#FFF;
	font-weight:bold;
}
/* Main */
.main {
	width:600px;
	margin-left:auto;
	margin-right:auto;
}
.google {
	text-align:center;
}
#logo {
	width:auto;
	height:90px;
	margin-top:220px;
}
#form {
	margin-top:15px;
	background:#FFF url('Images/microphone.png') no-repeat right;
	background-size:auto 23px;
	border: 1px solid #D8D8D8; 
	width:570px;
	height:25px;
}
button {
	margin-top:15px;
	padding:8px;
	border:1px solid #DBDBDB;
	border-radius:2px;
	background-color:#F3F3F3;
	text-align:center;
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	color:#444;
}
#btn {
	margin-left:auto;
	margin-right:auto;
	width:250px;
}


/*Footer*/

footer {
	border-top:1px solid #E4E4E4;
	background:#F2F2F2;
	min-width:600px;
	margin-top:325px;
}
footer a {
	padding:15px;
	text-decoration:none;
	font-family:Arial;
	font-size:13px;
	color:#666;
}
.ftleft {
	float:left;
	margin-top:9px;
	margin-left:-500px;
}
.ftleft a:hover {
	text-decoration: underline;
}
.ftright{
	float:right;
	margin-top:9px;
	margin-right:-500px;
}

